# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environments

venv/
.env/

# Jupyter

.ipynb_checkpoints/

# OS

.DS_Store
Thumbs.db

# Logs

logs/

# VSCode

.vscode/

# Data (VERY IMPORTANT)

data/raw/
data/processed/
